<h1>Favourites#new</h1>
<p>Find me in app/views/favourites/new.html.erb</p>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3> your <%= @car.name %> car</h3>
        <%= simple_form_for [@car, @bookmark] do |f| %>
          <%= f.input :comment, placeholder: "Enter a comment about the car" %>
          <%= f.association :car, prompt: "Select a car", input_html: {data: {controller: "tom-select"}} %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
