<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @car.image_url if @car.image_url.present? %>');">
  <div class="card-category-content">
    <p class="card-text"><%= @car.brand %></p>
    <p class="card-text"><%= @car.model %></p>
    <p class="card-text"><%= @car.fuel %></p>
    <p class="card-text"><%= @car.year %></p>
  </div>
</div>

<% if @car.favorites.empty? %>
  <%= simple_form_for([@car, @favorite]) do |f| %>
    <%= f.submit "Add to My Garage" %>
  <% end %>
<% else %>
  <p>This car is already in your garage!</p>
<% end %>


<%= simple_form_for([@car, @review]) do |f| %>
  <%= f.hidden_field :car_id, value: @car.id %>
  <%= f.input :rating, as: :select, collection: [1, 2, 3, 4, 5], label: false %>
  <%= f.input :comment, input_html: { placeholder: "Comment here..." }, label: false %>
  <%= f.submit "Send" %>
<% end %>

<% @car.reviews.each do |review| %>
  <div class="card">
    <p><%= review.comment %></p>
    <h3><%= 'â­' * review.rating %></h3>
  </div>
<% end %>
